<!DOCTYPE html>
<html lang="fr">
<head>
    <link rel="stylesheet" href="../static/style.css">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Connexion</title>
    <!-- Lien vers styles.css à ajouter après sa création -->
    <link rel="stylesheet" href="../static/style.css">
</head>
<body>
    <div id="container">
        <form id="login-form">
            <label for="username">Identifiant :</label>
            <input type="text" id="username" name="username" required><br><br>


            <label for="password">Mot de passe :</label>
            <input type="password" id="password" name="password" required><br><br>


            <label for="email">Adresse mail :</label>
            <input type="email" id="email" name="email" required><br><br>


            <button type="submit">Valider</button>
            <p id="dynamic-message"></p>
        </form>
    </div>
    <!-- Lien vers script.js à ajouter après sa création -->
    <script src="../static/script.js"></script>
    <script src="../static/script.js"></script>
</body>
</html>
